  <!-- Footer section -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="assets/icons/dumbbell_medium_ico.png" alt="" title="BeFit!">
      </div>
      <div class="col-6 col-md">
        <h1 class="text-white ">BeFit!</h1>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">O nas</a></li>
          <li><a class="bg-dark text-light" href="#">Trenerzy</a></li>
          <li><a class="bg-dark text-light" href="#">FAQ</a></li>
          <li><a class="bg-dark text-light" href="#">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h1 class="text-light">Nasze kluby</h1>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">Łódź</a></li>
          <li><a class="bg-dark text-light" href="#">Warszawa</a></li>
          <li><a class="bg-dark text-light" href="#">Poznań</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h1 class="text-light">Pozostałe</h1>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">Praca</a></li>
          <li><a class="bg-dark text-light" href="#">Regulamin</a></li>
          <li><a class="bg-dark text-light" href="#">Diety i plany treningowe</a></li>
          <li><a class="bg-dark text-light" href="#">Suplementy</a></li>
        </ul>
      </div>
    </div>
  </footer> 
