  <!-- Footer section -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="assets/icons/dumbbell_medium_ico.png" alt="" title="BeFit!">
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">Cool stuff</a></li>
          <li><a class="bg-dark text-light" href="#">Random feature</a></li>
          <li><a class="bg-dark text-light" href="#">Team feature</a></li>
          <li><a class="bg-dark text-light" href="#">Stuff for developers</a></li>
          <li><a class="bg-dark text-light" href="#">Another one</a></li>
          <li><a class="bg-dark text-light" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">Resource</a></li>
          <li><a class="bg-dark text-light" href="#">Resource name</a></li>
          <li><a class="bg-dark text-light" href="#">Another resource</a></li>
          <li><a class="bg-dark text-light" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="bg-dark text-light" href="#">Team</a></li>
          <li><a class="bg-dark text-light" href="#">Locations</a></li>
          <li><a class="bg-dark text-light" href="#">Privacy</a></li>
          <li><a class="bg-dark text-light" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer> 
