<div class="form-group row" style="width: 500px;">
    <label class="col-sm-2 col-form-label" style="color: white;">Imię</label>
    <div class="col-sm-10" style="padding-bottom: 20px; padding-left: 60px;">
        <input type="text" class="form-control" [(ngModel)]="Name"
        placeholder="Wprowadź imię">
    </div>
    <label class="col-sm-2 col-form-label" style="color: white;">Nazwisko</label>
    <div class="col-sm-10" style="padding-bottom: 20px; padding-left: 60px;">
        <input type="text" class="form-control" [(ngModel)]="Surname"
        placeholder="Wprowadź nazwisko">
    </div>
</div>

<button (click)="updateCustomer()" *ngIf="customers.ID!=0" class="btn btn-success">
    Aktualizuj
</button>
